//- html
//-     head
//- 		meta(charset="utf-8")
//- 		title Node.js Show Image
//- 		link(href="style.css", rel="stylesheet")
//-     body
//-         div#main_content
//- 		div
//- 		img(src="#{imgUrl}", alt="upload file")
html
  head
    meta(charset="utf8")
    |     
    title Node.js Show Image
    |     
    link(href="style.css", rel="stylesheet")
  body
    #main_content
    |     
    div
      img(src="#{imgUrl}", alt="upload file")
